<div>
    <h2>{{ mapamundiCtrl.title }}</h2>
    <div class="row">
        <div class="input-field col s5"> 
            <input id="buscador" type="text" ng-model="buscador"></input>
            <label for="buscador">Buscar</label>
        </div>
        <div class="col s10">
            <table class="bordered centered highlight">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Editar País</th>
                    <th>Eliminar País</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pais in mapamundiCtrl.paises | filter: buscador">
                    <td>{{ pais.nombre }}</td>
                    <td><a ng-click="mapamundiCtrl.editarPais(pais.id)" class="waves-effect waves-light btn-floating"><i class="material-icons">edit</i></a></td>
                    <td><a ng-click="mapamundiCtrl.borrarPais($index)" class="waves-effect waves-light red btn-floating"><i class="material-icons">clear</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>