<!DOCTYPE html>
<html lang="es" ng-app="CarmenSandiego">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="CarmenSandiego">

	<link href="css/bootstrap.css" rel="stylesheet">
</head>
<body ng-controller="MainController as mainCtrl">

	<h2>{{mainCtrl.title}}</h2><br>
	<input type="text" class="form-control" ng-model="buscador" placeHolder="Buscar" /> 
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Nombre </th>
				<th> Edad </th>
				<th> Telefono </th>
			</tr>
		</thead>
		<tbody class=".table-hover">
			<tr ng-model="buscador" ng-repeat="persona in mainCtrl.personas | filter: buscador">
				<td>{{ persona.nombre }}</td>
				<td>{{ persona.edad }}</td>
				<td>{{ persona.telefono }}</td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<!-- Referencia a js -->
	<script src="js/utils/jquery-3.2.1/jquery-3.2.1.min.js"></script>
	<script src="js/utils/bootstrap-3.3.7/bootstrap.min.js"></script>
    <script src="js/utils/angularjs-1.6.4/angular.min.js"></script>
	<script src="js/main-controller.js"></script>

</body>
</html>